#$v0.02$
#{{ ansible_managed }}
AcceptEnv LANG LC_*
ChallengeResponseAuthentication no
ClientAliveInterval 120
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes
HostbasedAuthentication no
Include /etc/ssh/sshd_config.d/*.conf
IgnoreRhosts yes
KbdInteractiveAuthentication no
KeyRegenerationInterval 3600
LoginGraceTime 120
LogLevel INFO
PermitEmptyPasswords no
PermitRootLogin no
PrintLastLog yes
PrintMotd no
PubkeyAuthentication yes
StrictModes yes
Subsystem sftp /usr/lib/openssh/sftp-server
SyslogFacility AUTH
TCPKeepAlive yes
UsePAM yes
X11DisplayOffset 10
X11Forwarding yes

